#header {
    width: auto;
    height: auto;
    background: #10284e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #ffc;
    overflow: hidden;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #30caa0;
}