{% extends '../base.html' %}


{% block content %}
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    Welcome to my Seedstar Challenge App
                </h1>
                <p class="lead">Please click on the 'ADD' button in the top menu to create your data or click on 'LIST'
                    to view available data
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}